*{
    margin: 0px;
    color: white;
    scroll-behavior: smooth;
    user-select: none;
}
/* .tag{
    position: fixed;
    z-index: 5;
    font-family: 'Papyrus';
    width: 100%;
    text-align: center;
    backdrop-filter: blur(10px);
} */

@media(min-width : 1100px){
    body{
        background : black;
        transition: all 0.5s;
    }
    #navbtn{
        display: none;
    }
    #base{
        height: 2000px;
        width: 65%;
        /* border: 3px solid yellow; */
        display: flex;
        justify-content: center;
        align-items: end;
        position: relative;
        /* z-index: 2; */
        backdrop-filter: blur(20px) brightness(20%) ;
        /* background: linear-gradient(to right,black,); */
        box-shadow: 20px 0px 30px black, -20px 0px 30px black inset;
    }
    
    #nav{
        height: 100vh;
        width: 100px;
        color: white;
        box-shadow: 0px 0px 50px blueviolet;
        position :fixed;
        left: -99px;
        transition: all 0.3s;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #nav:hover{
        left: -0px;
    }
    .navlogo{
        /* margin-top: 50%; */
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 70%;
        cursor: pointer;
        text-decoration: none;
    }
    .navlogo > span{
        padding: 5px;
        border-radius: 30px;
        opacity: 0;
        font-family: 'consolas';
        color: lightcoral;
        border: 2px dashed blueviolet;
        transition: all 0.3s;
    }
    .navlogo:hover >span{
        opacity: 1;
        transform: translateY(-30px);
    }
    
    
    #welcome{
        font-size: 50px;
        font-family: 'consolas';
        line-height: 100px;
        letter-spacing: 0px;
        background: linear-gradient(to right, lightcoral,blueviolet,coral);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 150% 100%;
        background-position: 50% 0%;
        transition: all 0.3s;
    }
    #welcomediv{
        width: fit-content;
        position: relative;
        top: 200px;
        left: 120px;
        /* border: 2px solid yellow; */
        position: fixed;
        height: 200px;
        overflow: hidden;
        z-index: 2;
        /* box-shadow: 0px 0px 50px black inset; */
    }
    
    #profilepic{
        height: fit-content;
        width: 28%;
        position: fixed;
        right:5%;
        top: 100px;
        background-color: black;
        border-radius: 50%;
        z-index: 2;
        filter: drop-shadow(0px 90px 50px black) contrast(130%);
        border: 5px solid blueviolet;
        /* transition: all 0.3s; */
    }
    #profilepic:hover{
        border: 5px solid white;
    }
    #design{
        position: fixed;
        top: 250px;
        right: 0px;
        width: 70%;
        height: 100vh;
        transform: rotate(-45deg);
        /* border: 5px solid white; */
        display: grid;
        grid-template-columns: repeat(20,auto);
        gap: 2px;
    }
    .inner{
        /* height: 100px; */
        background-color: lightcoral;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        transition: all 0.3s;
    }
    .inner:hover{
        transform: scale(1.2);
        background-color: blueviolet;
    }
    
    #skills{
        width: 80%;
        height: 700px;
        /* border: 3px solid greenyellow; */
        display: flex;
        flex-direction: column;
    }
    #skillhead{
        text-align: center;
        font-family: 'calibri';
        font-size: 50px;
        cursor: pointer;
        color:lightcoral;
        transition: all 0.3s;
    }
    #skillhead:hover{
        letter-spacing: 4px;
        color: white;
    }
    #skill{
        display: grid;
        grid-template-columns: repeat(5,auto);
        width: 80%;
        margin: 80px auto 0px auto;
    }
    
    .indiv{
        padding: 20px 40px;
        /* width: fit-content; */
        /* border: 2px solid red; */
        /* width: 40px; */
        /* height: 300px; */
    }
    #skills > p{
        color: blueviolet;
        font-family: 'consolas';
        font-size: xx-large;
        padding-left: 20px;
        line-height: 50px;
    }
    
    #container{
        height: fit-content;
        backdrop-filter: blur(25px) brightness(20%);
        position: relative;
        z-index: 3;
        padding-top: 50px;
        padding-bottom: 100px;
        /* display: flex; */
        /* flex-direction: column; */
        justify-content: center;
        width: 100%;
        box-shadow: 0px 100px 100px black inset;
    }
    
    #container > h1{
        text-align: center;
        color: lightcoral;
        transition: all 0.3s;
        font-family: 'calibri';
        font-size: 50px;
        cursor: pointer;
    }
    #container > h1:hover{
        letter-spacing: 4px;
        color: white;
    }
    
    #project{
        width: 100%;
        backdrop-filter: blur(25px) brightness(20%);
        box-shadow: 0px 100px 100px black inset;
        padding-bottom: 100px;
    }
    .proj{
        width: 80%;
        display: flex;
        height: 400px;
        border-bottom: 5px dotted blueviolet;
        padding: 20px 0px 20px 0px;
        margin: auto;
        padding-bottom: 50px;
        padding-top: 100px;
    }
    #project > h1{
        text-align: center;
        padding: 40px 0px 0px 0px;
        font-family: 'calibri';
        font-size: 50px;
        color: lightcoral;
        transition: all 0.3s;
        cursor: pointer;
    } 
    #project > h1:hover{
        letter-spacing: 4px;
        color: white;
    }
    .frame{
        width: 60%;
        border: none;
    }
    .desc{
        font-family: 'consolas';
        color: blueviolet;
        font-size: large;
        margin: 0px 10px 0px 20px;
        width: 40%;
    }
    
    .darkinner{
        height : 30px;
        width : 60px;
        margin: auto;
        border : 5px solid blueviolet;
        border-radius: 30px;
        overflow : hidden;
        z-index: 4;
      }
    .darkinn{
        height : 30px;
        width : 40px;
        background-color : lightcoral;
        border-radius : 30px;
        transform : translateX(-10px);
        transition : all 0.3s;
      }
    
    #contact{
        backdrop-filter: blur(10px) brightness(20%);
        padding: 0px 0px 50px 0px;
        box-shadow: 0px 100px 100px black inset;
    }
    #contact > h1{
        text-align: center;
        padding: 50px 0px 0px 0px;
        font-family: 'calibri';
        font-size: 50px;
        color: lightcoral;
        transition: all 0.3s;
        cursor: pointer;
        padding-bottom: 50px; 
    }
    #contact > h1:hover{
        letter-spacing: 4px;
        color :white;  
        
    }
    
    #cd{
        display: grid;
        grid-template-columns: repeat(2,auto);
        width: 80%;
        margin: auto;
    }
    .condet{
        margin: 4px;
    }
    .cd1{
        align-content: center;
    }
    .cd1 h2,.cd1 h3{
        font-family: 'consolas';
        font-size: 20px;
    }
    .cd2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .cd2 i:hover{
        color: blueviolet;
    }
    .cd3{
        grid-column: 1/span 2;
        display: flex;
        font-family: 'consolas';
        justify-content: space-between;
    }
    .cd3 a button{
        height: 30px;
        width: 100px;
        background: linear-gradient(to top right,coral,blueviolet);
        /* border-radius: 0px 20px 20px 0px; */
        box-shadow: 3px 3px 0px white;
        transition: all 0.2s;
    }
    .cd3 button:active{
        transform: translate(3px,3px);
        box-shadow: 0px 0px 0px white;
    }
    .cd3 h3{
        padding-right: 80px;
        color: lightcoral;
    }
}

@media(max-width : 1100px){
    body{
        background: black;
        transition: all 0.5s;
        font-family: 'consolas';
    }
    #navbtn{
        font-size: xx-large;
        text-align: center;
        background : linear-gradient(to right,blueviolet,lightcoral);
        position: fixed;
        width: 100%;
        z-index: 5;
        box-shadow: 0px 0px 50px black;
    }
    #nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0px;
        align-items: center;
        justify-content: space-around;
        transition: all 0.5s;
        overflow: hidden;
        width: 100%;
        backdrop-filter: blur(10px) brightness(40%);
    }
    .darkinner{
        height : 30px;
        width : 60px;
        border : 5px solid blueviolet;
        border-radius: 30px;
        overflow : hidden;
        z-index: 4;
    }
    .darkinn{
        height : 30px;
        width : 40px;
        background-color : lightcoral;
        border-radius : 30px;
        transform : translateX(-10px);
        transition : all 0.3s;
    }
    .navlogo span{
        display: none;
    }
    #profilepic{
        width: 200px;
        margin: auto;
        padding-top: 60px;
        z-index: -1;
        position: relative;
        filter: drop-shadow(0px 0px 50px blueviolet) contrast(130%);
    }
    #welcomediv{
        width: fit-content;
        margin: auto;  
        text-align: center;
        font-size: small;
        padding-bottom: 50px;
    }
    #base{
        padding-top: 20px;
        padding-bottom: 50px;
        border-top: 5px dotted blueviolet;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    #skills p{
        font-size: large;
    }
    #skillhead{
        color: lightcoral;
    }
    #container{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 20px;
        border-top: 5px dotted blueviolet;
    }
    #container h1{
        color: lightcoral;
        padding-bottom: 20px;
    }
    #skill{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .indiv{
        margin: 10px;
        width: 120px;
    }
    #project{
        width: 80%;
        margin: auto;
    }
    #project h1{
        color: lightcoral;
        padding-bottom: 10px;
        padding-top: 20px;
        text-align: center;
        border-top: 5px dotted blueviolet;
    }
    .proj{
        text-align: center;
        padding : 40px 0px 20px 0px;
        border-bottom: 2px solid lightcoral;
    }
    #contact{
        width: 80%;
        margin: auto;
        margin-top: 20px;
        padding-top: 40px;
        border-top: 5px dotted blueviolet;
    }
    #contact h1{
        text-align: center;
        color: lightcoral;
    }
    .cd1,.cd2,.cd3{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .cd3 button{
        box-shadow: 0px 0px 20px 5px lightcoral;
        background-color: blueviolet;
        padding: 5px;
        font-size: larger;
    }
    .cd3{
        margin-bottom: 50px;
    }
    .frame{
        width: 100%;
    }
}